.venv/
__pycache__/
*.pyc

# Track folders but ignore their dynamic content
album_images/*
!album_images/.gitkeep

user_uploads/*
!user_uploads/.gitkeep

databases/*
!databases/.gitkeep

testing_data/
testing_dl*/
face_embeddings_database.csv
.env
